name: 'Changelogs'
on:
  push:
    tags:
      - '*'

jobs:
  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Build Changelog
        id: github_release
<<<<<<< HEAD
        uses: mikepenz/release-changelog-builder-action@v5
=======
        uses: mikepenz/release-changelog-builder-action@v6
>>>>>>> pajikos/main
        with:
            configurationJson: |
              {
                "pr_template": "- #{{TITLE}}",
                "tag_resolver": {
                    "method": "semver",
                    "transformer": {
                      "pattern": "home-assistant-(.+)",
                      "target": "$1"
                    }
                }
              }
            mode: "COMMIT"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Print output
        run: echo "${{steps.github_release.outputs.changelog}}"

      - name: Create Release
        uses: mikepenz/action-gh-release@v0.2.0-a03 #softprops/action-gh-release
        with:
          body: ${{steps.github_release.outputs.changelog}}
